<h2><b>Formulário de Contato</b></h2>
<p><b>Protocolo</b>: {{ message_body.protocolo }}</p>
<p><b>Nome</b>: {{ message_body.nome }}</p>
<p><b>E-mail</b>: {{ message_body.email }}</p>
<!--<p><b>Telefone</b>: {{ message_body.telefone }}</p>-->
<p><b>Sugestão</b>: {{ message_body.sugestao }}</p>
<p><b>Mensagem</b>: {{ message_body.mensagem }}</p>